.main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 2em;
  margin: 0.5em;
  background-color: #e4cfb8;
}

/* .nav {
  width: auto;
  background-color: #dadada;
  padding: 0.5em;
  border-radius: ;
}

.navul {
  display: block;
} */

.rightmenu {
  background-color: #dadada;
  padding: 0.5em;
  border-radius: 0 2em 2em 0;
}

.leftmenu {
  background-color: #dadada;
  padding: 0.5em;
  border-radius: 2em 0 0 2em;
}

.article {
  background-color: #e2cbb1;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 1em;
}

/* .left,
.right {
  margin-top: 1em;
} */

.left {
  float: left;
  margin-right: 1em;
}
.right {
  float: right;
  margin-left: 1em;
}

.backtotop {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}
